.appointmentListContainer {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.appointmentListContainer h2 {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
}

.appointmentItem {
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.appointmentItem p {
    color: #666;
    font-size: 16px;
    margin-bottom: 5px;
}
